{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title> Laurant </title>

  <link rel="stylesheet" href="{% static 'css/reset.css' %}" >
  <link rel="stylesheet" href="{% static 'css/default.css' %}">
  
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  
  {% if messages %}
    <link rel="stylesheet" href="{% static 'css/message.css' %}"> 
  {% endif %}

  {% block styles %}
  {% endblock styles %}

</head>
<body>

  <div class="container">

    {% include 'partials/header.html' %}

    {% if messages %}
      {% include 'partials/messages.html' %}
    {% endif %}

    <main>

      {% block content %}{% endblock content %}
      
    </main>

  </div>

</body>
</html>