{% load static %}
<header class="header">
    
  <a href="{% url 'inicio' %}">
    <div class="header__logoContainer">
      <img class="header__logo" src="{% static 'images/logoLaurant.svg' %}" alt="Biblioteca e Livraria virtual laurant">
    </div>
  </a>
  <form action="{% url 'buscar' %}" class="header__searchContainer">
    <input autocomplete="off" class="search__input" type="text" name="search_query" placeholder="Buscando por livros?">
    <button type="submit" class="search__iconContainer"><img class="search__icon" src="{% static 'icons/search.svg' %}" alt="Buscar"></button>
  </form>
  <nav class="header__navmenu">
    <img class="navmenu__icon" src="{% static 'icons/cart.svg' %}" alt="Carrinho">

    {% if user.is_authenticated %}
      <img class="navmenu__icon" src="{% static 'icons/person.svg' %}" alt="Perfi">
      <a href="{% url 'sair' %}">
        <img class="navmenu__icon" src="{% static 'icons/logout.svg' %}" alt="Perfi">
      </a>
    {% else %}
      <a href="{% url 'entrar' %}">
        <img class="navmenu__icon" src="{% static 'icons/login.svg' %}" alt="Perfi">
      </a>
    {% endif %}
    
  </nav>
</header>