{% load static %}
<header class="header">
    
  <a href="{% url 'inicio' %}">
    <div class="header__logoContainer">
      <img class="header__logo" src="{% static 'images/logoLaurant.svg' %}" alt="Biblioteca e Livraria virtual laurant">
    </div>
  </a>
  <form action="{% url 'buscar' %}" class="header__searchContainer">
    <input class="search__input" type="text" name="search_query" placeholder="Procurando algo?">
    <button type="submit" class="search__iconContainer"><img class="search__icon" src="{% static 'icons/search.svg' %}" alt="Buscar"></button>
  </form>
  <nav class="header__navmenu">
    <img class="navmenu__icon" src="{% static 'icons/cart.svg' %}" alt="Carrinho">
    <img class="navmenu__icon" src="{% static 'icons/person.svg' %}" alt="Perfi
    ">
  </nav>
</header>