{% load static %}

<div class="books__container">
      
  {% for livro in livros %}
    <article class="bookCard">
      <div class="bookCard__imgContainer">
        <a href="{% url 'livro' livro.id %}"><img class="bookCard__img" src="{{ livro.capa.url }}" alt=""></a>
      </div>
      <section class="bookCard__content">
        <h3 class="bookCard__titulo"> <a href="{% url 'livro' livro.id %}">{{ livro.titulo }} </a></h3>
        <p class="bookCard__autor" href="#"><a href="{% url 'autor' livro.autor.id %}"> {{ livro.autor }} </a></p>
        <p class="bookCard__preco"> {{ livro.preco }} </p>
        <p class="bookCard__categorias">
          <a class="bookCard__categoria" href=""> {{ livro.genero_literario }} </a>
        </p>
      </section>
    </article>
  {% endfor %}
</div>

