
{% extends 'partials/base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/autor.css' %}">
  <link rel="stylesheet" href="{% static 'css/cardBook.css' %}">
{% endblock styles %}

{% block content %}
  <article class="autor">
    <div class="autor__imgContainer"><img src="{{ autor.foto.url }}" alt="" class="autor__image"></div>
    <section class="autor__info">
        <div class="autor__titulo">
          <h1 class="autor__nome">{{ autor.nome }}</h1>
          <i class="autor__favorito"><img src="{% static 'icons/favorite.svg' %}" alt="" class="favorito__img"></i>
        </div>
        <p class="autor__biografia">{{ autor.biografia }}</p>
    </section>
  </article>

  {% if livros %}  
    <section class="livros__autor">
      <h2 class="content__titulo">Livros do autor</h2>
      {% include 'partials/livros_cards.html' %}
    </section>
  {% endif %}
{% endblock content %}  