{% extends 'shared/base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
  <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
{% endblock styles %}

{% block content %}
  <section class="forms">

    <div class="forms__titles">
      <a class="forms__goback" href="{% url 'inicio' %}">
        <img class="goback__image" src="{% static 'icons/downArrowWhite.svg' %}" alt="">
      </a>
      <h1 class="forms__titulo">
        Deletar {{ label }}
      </h1>
    </div>

    <form autocomplete="off" action="{% url 'editar-item' item_label=label item_id=item.id %}" method="POST" class="forms__form forms__cadastro" enctype="multipart/form-data"  >

      <h2>Tem certeza que deseja deletar o {} </h2>
      <p>Todos seus dados registrados no site e toda sua trajetoria literária sera perdida para sempre!</p>

      <button type="submit"  class="botao livro__adicionarCarrinho">
        Atualizar {{ label }}
      </button>
    </form>

  </section>
{% endblock %}