
{% extends 'partials/base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/cardAutor.css' %}">
  <link rel="stylesheet" href="{% static 'css/cardBook.css' %}">
{% endblock styles %}

{% block content %}
  <section class="hero">

    <div class="hero__content">
      <h2 class="content__subtitle" >Olá!</h2>
      <h1 class="content__title" >Seja bem vindo a Laurant</h1>
      <p class="content__paragraph">
        Entre com sua conta e busque pelos melhores livros e autores do mercado, com os menores preços e a maior facilidade na hora de comprar
      </p>
      <a href="{% url 'entrar'%}"><button class="content__button">registre-se já</button></a>
    </div>

    <div class="hero__slides">
      <img class="slides__image" src="{% static 'images/bookAd1.jpeg' %}" alt="Propaganda sobre coleção de livros de saude mental em destaque">
    </div>

  </section>

  <section class="mainSec">
    <h2 class="mainSec__title">Nomes ao redor do mundo!</h2>
    <p class="mainSec__subtitle">veja os principais autores da semana que se destacaram em nossa plataforam</p>
    <div class="cardContainer">
      
      {% for autor in autores %}
        <article class="cardAutor">
          <div class="cardAutor__imgContainer">
            <a href="{% url 'autor' autor.id %}"><img class="cardAutor__img" src="{{ autor.foto.url }}" alt=""></a>
          </div>
          <section class="cardAutor__content">
            <h3 class="cardAutor__nome"> <a href="{% url 'autor' autor.id %}">{{ autor.nome }}</a> </h3>
            <p class="cardAutor__descricao">{{ autor.frase_destaque }}</p>
          </section>
        </article>
      {% endfor %}

    </div>
  </section>

  <section class="mainSec">
    <h2 class="mainSec__title">Biblioteca Semanal</h2>
    <p class="mainSec__subtitle">Todo conteúdo literário que o mundo inteiro mais apreciou na ultima semana</p>
    <div class="cardContainer">
      
      {% for livro in livros %}
        <article class="bookCard">
          <div class="bookCard__imgContainer">
            <a href="{% url 'livro' livro.id %}"><img class="bookCard__img" src="{{ livro.capa.url }}" alt=""></a>
          </div>
          <section class="bookCard__content">
            <h3 class="bookCard__titulo"> <a href="{% url 'livro' livro.id %}">{{ livro.titulo }} </a></h3>
            <p class="bookCard__autor" href="#"><a href="{% url 'autor' livro.autor.id %}"> {{ livro.autor }} </a></p>
            <p class="bookCard__preco"> {{ livro.preco }} </p>
            <p class="bookCard__categorias">
              <a class="bookCard__categoria" href=""> {{ livro.genero_literario }} </a>
            </p>
          </section>
        </article>
      {% endfor %}

    </div>
  </section>
{% endblock content %}