
{% extends 'partials/base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/cardAutor.css' %}">
  <link rel="stylesheet" href="{% static 'css/cardBook.css' %}">
{% endblock styles %}

{% block content %}
  <section class="hero">

    <div class="hero__content">
      <h2 class="content__subtitle" >Olá!</h2>

      {% if user.is_authenticated %}
        <h1 class="content__title" >Bem vindo de volta {{user.username}} </h1>
        <p class="content__paragraph">
          Fique a vontade para explorar a melhor plataforma de compra de livros online! Caso já tenha feito isso, que tal olhar seu carrinho e ver se tem obras a mais para adicionar a estante?
        </p>
        <a href="{% url 'entrar'%}"><button class="content__button">Ver carrinho</button></a>
      {% else %}
        <h1 class="content__title" >Seja bem vindo a Laurant</h1>
        <p class="content__paragraph">
          Entre com sua conta e busque pelos melhores livros e autores do mercado, com os menores preços e a maior facilidade na hora de comprar
        </p>
        <a href="{% url 'entrar'%}"><button class="content__button">registre-se já</button></a>
      {% endif %}

    </div>

    <div class="hero__slides">
      <img class="slides__image" src="{% static 'images/bookAd1.jpeg' %}" alt="Propaganda sobre coleção de livros de saude mental em destaque">
    </div>

  </section>

  <section class="mainSec">
    <h2 class="mainSec__title">Nomes ao redor do mundo!</h2>
    <p class="mainSec__subtitle">veja os principais autores da semana que se destacaram em nossa plataforam</p>
    {% include 'partials/autores_cards.html' %}
  </section>

  <section class="mainSec">
    <h2 class="mainSec__title">Biblioteca Semanal</h2>
    <p class="mainSec__subtitle">Todo conteúdo literário que o mundo inteiro mais apreciou na ultima semana</p>
    {% include 'partials/livros_cards.html' %}
  </section>
{% endblock content %}