
{% extends 'shared/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/livro.css' %}">
<link rel="stylesheet" href="{% static 'css/cardBook.css' %}">
{% endblock styles %}

{% block content %}
  
  {% if user.is_authenticated %}
    <section class="editar">
      <a href="{% url 'editar-item' item_label='livro' item_id=livro.id %}">
        <img class="editar__img" src="{% static 'icons/edit.svg' %}" alt="">
      </a>
      <a href="{% url 'deletar-item' item_label='livro' item_id=livro.id %}">
        <img class="editar__img" src="{% static 'icons/delete.svg' %}" alt="">
      </a>
    </section>
  {% endif %}
    
  <article class="livro">
    <section class="livro__compra">
      <div class="livro__imageContainer">
        <img src="{{ livro.capa.url }}" alt="" class="livro__image">
      </div>
      <section class="livro__contents">

        <div class="livro__tituloContainer">
          <div class="livro__titulos">
            <h1 class="livro__titulo">{{ livro.titulo }}</h1>
            <a class="livro__autor" href="{% url 'autor' livro.autor.id %}">{{ livro.autor }}</a>
          </div>
        </div>

        <div class="livro__info">
          <p class="livro__preco">R$ {{ livro.preco }}</p>
          <p class="livro__parcelar">Em até 10x sem juros!</p>
          {% if user.is_authenticated %}
            <button class="botao livro__adicionarCarrinho">
              pôr no carrinho
            </button>
          {% else %}
            <a href=" {% url 'entrar' %}">
              <button class="botao livro__adicionarCarrinho">
                pôr no carrinho
              </button>
            </a>
          {% endif %}
        </div>

      </section>
    </section>

    <section class="livro__sinopse">
      <h2 class="content__titulo">Sinopse</h2>
      <div class="sinopse__content">
        <p class="sinopse__paragraph">
          {{ livro.sinopse }}
        </p>
      </div>
    </section>

    
    {% if livros %}  
      <section class="livrosSimilares">
        <h2 class="content__titulo">Livros similares</h2>
        {% include 'partials/livros_cards.html' %}
      </section>
    {% endif %}
      

  </article>
{% endblock content %}