{% extends 'shared/base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/pesquisa.css' %}">
  <link rel="stylesheet" href="{% static 'css/cardBook.css' %}">
  <link rel="stylesheet" href="{% static 'css/cardBook.css' %}">
  <link rel="stylesheet" href="{% static 'css/cardAutor.css' %}">
{% endblock styles %}

{% block content %}
  <section class="search__configs">
    {% if pesquisa %}
      <h1 class="configs__searchQuery">Resultados para a pesquisa: "{{pesquisa}}"</h1>
    {% else %}
      <h1 class="configs__searchQuery">Veja nossa lista completa de livros</h1>
    {% endif %}

    <form action="{% url  %}"></form>
  </section>      

  <section class="search__results">
    {% include 'partials/livros_cards.html' %}
  </section>
{% endblock content %}