{% extends 'shared/base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/pesquisa.css' %}">
  <link rel="stylesheet" href="{% static 'css/cardBook.css' %}">
  <link rel="stylesheet" href="{% static 'css/cardBook.css' %}">
  <link rel="stylesheet" href="{% static 'css/cardAutor.css' %}">
{% endblock styles %}

{% block content %}
  <section class="search__configs">
    {% if searchQuery %}
      <h1 class="configs__searchQuery">Resultados para a pesquisa: "{{searchQuery}}"</h1>
    {% elif livros %}
      <h1 class="configs__searchQuery">Veja nossa lista completa de livros</h1>
    {% elif autores %}
      <h1 class="configs__searchQuery">Veja nossa lista completa de autores</h1>
    {% endif %}
  </section>
        
  <section class="search__results">
    {% if livros %}
      {% include 'partials/livros_cards.html' %}
    {% elif autores %}
      {% include 'partials/autores_cards.html' %}
    {% endif %}
  </section>
{% endblock content %}