{% extends 'partials/base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
  <link rel="stylesheet" href="{% static 'css/entrar.css' %}">
{% endblock styles %}

{% block content %}
  <h1 class="page__title">Seja bem vindo a Lurant Livraria!</h1>
  <section class="forms">

    <div class="forms__form forms__cadastro">
      <div class="forms__titles">
        <h2 class="forms__titulo entrar__titulo">
          Primeira vez por aqui?
        </h2>
        <p class="forms__descricao">
          Crie sua conta e obtenha a experiência completa em nossa livraria
        </p>
      </div>

      <a href="{% url 'cadastrar' %}">
        <button class="botao livro__adicionarCarrinho">
          criar conta
        </button>
      </a>
    </div>

    <div class="bar"></div>

    <form autocomplete="off" action="{% url 'entrar' %}" method="POST" class="forms__form forms__login">
      {% csrf_token %}
      <div class="forms__titles">
        <h2 class="forms__titulo entrar__titulo">
          Está de volta à livraria?
        </h2>
        <p class="forms__descricao">
          Faça login em sua conta e continue explorando este incrivel mundo literário
        </p>
      </div>

      {% for field in login %}
        <div class="inputContainer">
          <label class="forms__label" for="{{ field.id_for_label }}" class="inputText"> {{field.label}} </label>
          {{ field }}
        </div>
      {% endfor %}
      <button type="submit" class="botao livro__adicionarCarrinho">
        entrar
      </button>
    </form>

  </section>
{% endblock %}
