.frase__destaque{
  max-width: 90%;
  text-align: center;
  font: var(--bodyG);
  margin: 2rem auto;
  color: var(--texto);
}

.autor{
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 250px;
}

.autor__imgContainer{
  width: 100%;
  height: 100%;
}

.autor__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autor__info{
  display: grid;
  grid-template-rows: auto auto;
}

.autor__titulo{
  background-color: var(--textoSecundario);
  padding: .5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.autor__nome{
  font: var(--titleM);
  color: var(--fundo);
}

.autor__biografia{
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 1.5rem;
  color: var(--texto);
}

.content__titulo{
  font: var(--titleM);
  margin-bottom: 1rem;
  color: var(--texto);
}

.livros__autor{
  margin: 2rem 0;
}