.bookCard{
  box-sizing: border-box;
  width: 392px;
  height: 161px;

  display: grid;
  grid-template-columns: 95px 1fr;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  background-color: var(--textoSecundario);
  padding: .5rem 1rem;
  border-radius: 1.25rem;

}

.bookCard__imgContainer{
  height: 148px;
}

.bookCard__img{
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}


.bookCard__content{
  display: flex;
  flex-flow: column nowrap;
  gap: .25rem;
  align-items: start;
  justify-content: start;
  height: 100%;
}

.bookCard__content *{
  color: var(--fundo);
}

.bookCard__titulo{
  font: var(--titleP);
  max-height: 62px;
  overflow: hidden;
  cursor: pointer;
}

.bookCard__autor{
  font: var(--bodyMLinks);
  text-decoration: underline;
  max-height: 16px;
  overflow: hidden;
}

.bookCard__preco{
  font: var(--titleM);
  max-height: 38px;
  overflow: hidden;
}

.bookCard__categorias{
  font: var(--bodyM);
  max-height: 20px;
  overflow: hidden;
}

.bookCard__categoria{
  font: var(--bodyMLinks);
}

.bookCard__saveIconContainer{
  align-items: start;
  justify-content: start;
}