header{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.header__searchContainer{
  width: 100%;
  display: grid;
  grid-template-columns: 85% 15%;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  box-sizing: border-box;
  background-color: var(--texto);
  border-radius: 1.25rem;
  padding: 0 1rem;
}

.search__input{
  padding: 1rem 0;
}

.search__input:focus::placeholder{
  color: transparent;
}

.search__iconContainer{
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: pointer;
}

.search__icon{
  width: 2rem;
  height: 2rem;
}

.header__navmenu{
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  align-items: center;
  justify-content: end;
}

.navmenu__icon{
  color: var(--fundoContrastado);
  cursor: pointer;
  transition: filter .3s;
  max-height: 2.5rem;
}

.navmenu__icon:hover{
  filter: brightness(.9); 
}