.hero{
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  align-items: center;
  justify-content: space-between;
}

.hero__content{
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: center;
  gap: 12px;
  max-width: 400px;
  margin: auto;
  padding: 1rem;

  color: var(--texto);
}

.content__subtitle{
  font: var(--titleM)
}

.content__title{
  font: var(--titleG)
}

.content__paragraph{
  font: var(--bodyG)
}

.content__button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 4rem;
  font: var(--botao);
  text-transform: uppercase;
  color: var(--texto);
  background: var(--acoes);
  border-radius: 2px;
  cursor: pointer;
  transition: box-shadow, filter 300ms;
}

.content__button:hover{

  box-shadow: 1px 1px 10px rgba(0,0,0,.4);
  filter: brightness(.9);
  

}

.hero__slides{
  padding: 10%;
}

.slides__image{
  border-radius: 1.25rem;
}

main{
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding-bottom: 2rem;
}

.mainSec__title{
  color: var(--texto);
  font: var(--titleM);

  margin-bottom: .5rem;
}

.mainSec__subtitle{
  margin-bottom: 1rem;

  color: var(--texto);
  font: var(--bodyG);
}

.cardContainer{
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem;
}