{% load static %}
<header class="header">
    
  <a href="{% url 'inicio' %}">
    <div class="header__logoContainer">
      <img class="header__logo" src="{% static 'images/logoLaurant.svg' %}" alt="Biblioteca e Livraria virtual laurant">
    </div>
  </a>
  <form action="{% url 'buscar' type='livros' %}" class="header__searchContainer">
    <input autocomplete="off" class="search__input" type="text" name="search_query" placeholder="Buscando por livros?">
    <button type="submit" class="search__iconContainer"><img class="search__icon" src="{% static 'icons/search.svg' %}" alt="Buscar"></button>
  </form>
  <nav class="header__navmenu">
    
    {% if user.is_authenticated %}
      {% comment %} <img class="navmenu__icon" src="{% static 'icons/person.svg' %}" alt="Perfi"> {% endcomment %}
      {% comment %} <img class="navmenu__icon" src="{% static 'icons/cart.svg' %}" alt="Carrinho"> {% endcomment %}
      <a href="{% url 'sair' %}">
        <img class="navmenu__icon" src="{% static 'icons/logout.svg' %}" alt="Perfi">
      </a>
      <a href="{% url 'novo-item' item_label='livro' %}">
        <img class="navmenu__icon" src="{% static 'icons/book.svg' %}" alt="Perfi">
      </a>
      <a href="{% url 'novo-item' item_label='autor' %}">
        <img class="navmenu__icon" src="{% static 'icons/writer.svg' %}" alt="Perfi">
      </a>
      <a href="{% url 'novo-item' item_label='genero' %}">
        <img class="navmenu__icon" src="{% static 'icons/gener.svg' %}" alt="Perfi">
      </a>
    {% else %}
      <a href="{% url 'entrar' %}">
        <img class="navmenu__icon" src="{% static 'icons/login.svg' %}" alt="Perfi">
      </a>
    {% endif %}
    
  </nav>
</header>